
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/


!*.meta


.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db


[Aa]ssets/AssetStoreTools*
/[Aa]ssets/Plugins/Editor/JetBrains*


sysinfo.txt
*.apk
*.aab
*.unitypackage.meta
crashlytics-build.properties


__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
venv/
.venv/
env/
*.env


.DS_Store
Thumbs.db
.vscode/
*.log